<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=.9, shrink-to-fit=no">
		<link rel="icon" href="/images/favicon.png" type="image/x-icon/">
		<!-- bootstrap styles -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- google fonts Latio import -->
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<!-- FontAwesome styles and scripts -->
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<script src="https://kit.fontawesome.com/75e02839f8.js" crossorigin="anonymous"></script>
		<!-- local styles -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<% if(page === "profile") { %>
			<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
		<% } %>
		<!-- modernizr scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
		<!-- starability rating css -->
		<!-- <link rel="stylesheet" type="text/css" href="/css/starability-basic.min.css"/> -->
    </head>
    <body>
		<header>
			<nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="navbar">
			  <a class="navbar-brand js-scroll-trigger" href="#top">Greenstreet Imag{in}ing</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navHamburger" aria-controls="navHamburger" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<span class="icon-bar hamburger-bar"></span>
					<span class="icon-bar hamburger-bar"></span>
					<span class="icon-bar hamburger-bar"></span>
				</span>
			  </button>
			  <div class="collapse navbar-collapse" id="navHamburger">
				<a class="nav-link js-scroll-trigger" href="#about">About</a>
				<a class="nav-link js-scroll-trigger" href="#work">Work</a>
				<a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
			  </div>
			</nav>		
		</header>
		<main>
			<!--[if lt IE 10]>
				<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->