<%- include('./partials/header') %>
<div class="pt-3">
    
    <section class="hero" id="top">
        <div class="container">
            <img src="/images/horizontal-headshot.jpg" alt="Robert's Headshot" id="hero-headshot">
        </div>
    </section>
    <section id="about">
        <div class="container">
            <h1 class="text-center">About</h1>
            <div class="faux-code-block">
                <h1><span class="varType">let</span> <span class="var">Robert</span> = </h1>
                <div class="object">
                    {
                        <div class="pair">
                            <span class="key">firstName</span> : <span class="value">"Robert",</span>
                        </div>
                        <div class="pair">
                            <span class="key">lastName</span> : <span class="value">"Greenstreet",</span>
                        </div>
                        <div class="pair">
                            <span class="key">specialty</span> : <span class="value">"Back-end Implementation",</span>
                        </div>
                        <div class="pair">
                            <span class="key">description</span> : <span class="value">"Robert Greenstreet is a junior full stack MEAN developer seeking part-time W-2 employment.",</span>
                        </div>
                        <div class="pair">
                            <span class="key">twitter</span> : <span class="value">"<a href="https://twitter.com/grnstimagining">@grnstimagining</a>",</span>
                        </div>
                        <!-- <div class="pair">
                            <span class="key">email</span> : <span class="value">"<a href="mailto:robert@greenstreetimagining.com">robert@greenstreetimagining.com</a>"</span>
                        </div> -->
                    };
                </div>
            </div>
        </div>
    </section>
    <section id="work">
        <div class="container">
            <h1 class="text-center">Work</h1>
            <div class="row">
                <div class="carousel-slide mb-4 col col-md-8 mx-auto">
                    <div class="carousel-inner">
                        <!-- loop over projects0 showing screenshots, names, descriptions each as a slide in the carousel -->
                        <div class="carousel-item active">
                            <img src="/images/sampleproject.png" alt="">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                        </div>
                        <!-- end loop -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-10 mx-auto bg-transparent">
                    <div class="row">
                        <!-- loop over projects showing screenshots & names in a grid -->
                        <div class="col">
                            <div class="card bg-transparent project">
                                <img src="/images/sampleproject.png" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h3 class="card-title">Project 1</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-transparent project">
                                <img src="/images/sampleproject.png" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h3 class="card-title">Project 2</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-transparent project">
                                <img src="/images/sampleproject.png" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h3 class="card-title">Project 3</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="">
        <div class="container">
            <h1 class="text-center">Contact</h1>
            <div class="row">
                <div id="contact-form" class="col col-md-6 mx-auto">
                    <form action="/" method="post">
                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" name="firstname" id="firstname" placeholder="First Name" class="form-control" required>
                                <label for="firstname" class="sr-only">First Name</label>
                            </div>
                            <div class="col form-group">
                                <input type="text" name="lastname" id="lastname" placeholder="Last Name" class="form-control" required>
                                <label for="lastname" class="sr-only">Last Name</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" placeholder="Email" class="form-control" required>
                            <label for="email" class="sr-only">Email</label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="company" id="company" placeholder="Company" class="form-control" required>
                            <label for="company" class="sr-only">Company</label>
                        </div>
                        <button class="btn btn-primary col" id="send-contact-form">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include('./partials/footer') %>