html {
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:rgba(82, 82, 140, 1);
  color:white;
  width:100vw;
  max-width:100%;
  height:auto;
  max-height:100%;
  /* overflow-x:hidden; */
}

header {
  width:100%;
  max-width:100%;
  padding:0;
  margin:0;
}

main {
  padding:0;
  margin:0;
}

main:after {
  margin-bottom:-3rem;
}

a {
  color: #00B7FF;
}

nav.scrolled {
  box-shadow: 0 0 20px rgba(0,0,0,0.4);   
}

.navbar, footer {
  background-color:rgba(35, 17, 35, 1);
}

.navbar a {
  color:white;
}

img {
  max-width:100%;
  height:auto !important;
}

.hero-headshot {
  width:75vw;
}

section {
  min-height:100vh;
  width:100%;
  padding-top:4rem;
  margin:0;
}

#top {
  margin-top:60px;
}

#about {
  margin:2rem auto;
  font-size:1.25rem;
}

.faux-code-block {
  border:2px solid black;
  border-radius:20px;
  padding:1.5rem;
  background-color:#aaa;
  font-family: monospace;
}

.faux-code-block a {
  color:rgb(37, 122, 150);
  text-decoration:underline;
}

.varType {
  color:blue;
}

.var {
  color:purple;
}

.object,.pair {
  margin-left:2rem;
  display:block;
}

/* .pair {
  white-space:nowrap;
} */

.key {
  color:rgb(255, 51, 0);
}

.value {
  color:rgb(37, 122, 150);
}

#contact {
  height:auto;
  padding-bottom:60px;
}

#contact, #about {
  background-color:rgba(55, 37, 84, 1);
}

#send-contact-form {
  background-color:rgba(82, 82, 140, 1);
  border:none;
}

footer {
  position:sticky;
  position:-webkit-sticky;
  margin-right:0 ;
  padding:0;
  width:100%;
  max-width:100%;
  height:3rem;
}

footer, main:after {
  height: 3rem; 
}