<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thanks for contacting me!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <style>
            body {
                height:100vh;
                font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
                color:white;
            }
            table {
                border:none;
                border-collapse:collapse;
            }
            .container {
                background-color:rgba(82, 82, 140, .5);
                margin:auto;
                color:white;
            }
            .navbar td{
                font-size:20px;
                height:1.5rem;
                max-height:40px;
            }
            .navbar p {
                margin:0;
            }
            .navbar, .footer {
                width:100%;
                padding:.5rem;
                background-color:rgba(55, 37, 84, 1);
                color:white;
            }
            .navbar a {
                color:white;
            }
            td {
                padding:.5rem;
            }
            .main {
                padding:.5rem;
            }
            /* Small devices (landscape phones, 576px and up) */
            @media (min-width: 576px) { 
                
             }

            /* Medium devices (tablets, 768px and up) */
            @media (min-width: 768px) { 
                body {
                    min-height:50vh;
                    width:80%;
                }
                td {
                    padding-left:3rem;
                    padding-right:3rem;
                }
             }

            /* Large devices (desktops, 992px and up) */
            @media (min-width: 992px) { 
                
             }

            /* Extra large devices (large desktops, 1200px and up) */
            @media (min-width: 1200px) { 
                
             }
        </style> -->
    </head>
    <body style="width:100%;font:14px 'Lucida Grande', Helvetica, Arial, sans-serif;color:white;">
        <table class="container" style="width:90%;min-height:300px;background-color:rgba(82, 82, 140, .5);margin:auto;color:white;border:none;border-collapse:collapse;">
            <tr class="navbar" style="height:2rem;padding:.5rem 1rem;background-color:rgba(55, 37, 84, 1);color:white;">
                <td style="padding:.5rem 1rem;font-size:20px;height:1.5rem;max-height:40px;vertical-align:top;" colspan="2">
                    <a href="http://greenstreetimagining.com" style="color:white;text-decoration:none;">
                        <p style="padding:0;margin:0;">
                            Greenstreet Imag{in}ing
                        </p>
                    </a>
                </td>
            </tr>
            <tr style="vertical-align:top;">
                <td class="main" style="padding:.5rem 2rem;" colspan="2">
                    <h3>Hi <%= firstname %>!</h3>
                    <p>Thanks for reaching out! I appreciate your interest, and I'll respond as soon as I'm able.</p>
                </td>
            </tr>
            <tr style="vertical-align:bottom;">
                <td class="closing" style="padding:.5rem 2rem;" colspan="2">
                    <p>All the best,</p>
                    <h4>Robert Greenstreet</h4>
                </td>
            </tr>
            <tr class="footer" style="height:3rem;background-color:rgba(55, 37, 84, 1);color:white;">
                <td style="padding:.5rem 1rem;" id="copyright">
                    Copyright 2020 Robert Greenstreet
                </td>
                <td id="networks" style="padding:.5rem 1rem;text-align:right;">
                    <a href="https://twitter.com/grnstimagining" style="color:white;text-decoration:none;">Twitter</a>&nbsp;|&nbsp;<a href="https://github.com/rgreenstreet" style="color:white;text-decoration:none;">Github</a>
                </td>
            </tr>
        </table>
        <script src="" async defer></script>
    </body>
</html>